body {
  background-image: url('images/bg_tile.png');
  background-repeat: repeat;
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', sans-serif;
}

.textBlock {
  border: 2px solid black;
  background-image: url('images/alt_tile.png');
  background-repeat: repeat;
  margin-right: 5%;
  margin-left: 5%;
  padding: 15px;
  overflow-x: scroll;
}

.bubbles {
  background-image: url('images/bubbles.png');
  color: white;
}

.redgrid {
  background-image: url('images/red_grid.jpg');
  color: white;
}

h1,
h2,
a,
.links a:hover {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #9400d3,
    #ff0000
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowFlow 6s linear infinite;
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3 {
  color: purple;
}

.title {
  width: 90%;
  max-width: 600px;
}

.links {
  display: inline-block;
  margin-bottom: 20px;
}

.links a {
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  animation: wave 1s infinite ease-in-out;
  transform-origin: center;
  color: greenyellow;
}

img {
  max-width: 90%;
}

.bigPic {
  width: 90%;
  max-width: 600px;
  background: white;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
    text-shadow: 0 0 1px #d5ffff, 0 0 1px #cdff28, 0 0 4px #d5ffff;
  }
  25% {
    transform: rotate(5deg);
    text-shadow: 0 0 1px #d5ffff, 0 0 1px #d5ffff, 0 0 2px #73ff00;
  }
  50% {
    transform: rotate(0deg) scale(1.05);
    text-shadow: 0 0 1px #d5ffff, 0 0 1px #ff00a6, 0 0 5px #d5ffff;
  }
  75% {
    transform: rotate(-5deg);
    text-shadow: 0 0 1px #d5ffff, 0 0 1px #d5ffff, 0 0 1px #a05bff;
  }
}
